<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeBuMGZjkC75xU2fX9Q00D2kHyZHO7vTY</string>
	<key>GCM_SENDER_ID</key>
	<string>993950122417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Profile</string>
	<key>PROJECT_ID</key>
	<string>pushnotifications-a3db8</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotifications-a3db8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993950122417:ios:4622bcf8809785dc49bd90</string>
</dict>
</plist>